.edit-dashboard-wrapper { 
  display: flex;
  flex-direction: row;
}

.dashboard-item {
  margin: 5px;
  border: 1px;
  border-color: black;
  border-radius: 1px;
  border-style: outset;
  padding: 10px;
}